.title{
    color: #F12E4A;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-shadow: 3px 3px 3px #000000;
    /* line-height: 50px;
    padding-top: 42px;
    padding-bottom: 11px; */
    
}

.title ._second {
    color: #000;
    text-shadow: none;
    text-align: center;
}