/* Começo do header */


/* Fim do header */
/* Começo do main (bloco principal) */
.main {
    margin: 0px;
}
.block {
    display: inline-block;
    background-color: #a3a3a3;
    align-self: center;
}
.left {
    display: inline-block;
    background-color: #FFFFFF;
    border-right: 5px solid #000;
    background-image: url("../assets/img/coding.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 955px;
    height: 797px;
}
.right {
    background:url("../assets/img/coding2.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height: 797px;
    width: 485px;
}

.box2 {
    margin-left: 181px; 
    margin-top: 38px;
    margin-right: 322px;
    display: flex;
    justify-content: space-between;
    
}

/* fim do main (bloco principal) */